@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: linear-gradient(to top, white, transparent);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  background: rgb(255, 135, 114);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: tomato;
  border: 2px solid white;
  border-radius:  100%;
  cursor: pointer;
  transition: scale .2s ease-in;
}


input[type="range"]::-webkit-slider-thumb:hover {
  scale: 1.5;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
