@tailwind base;
@tailwind components;
@tailwind utilities;

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Header Styles */
thead {
  background-color: #f2f2f2;
}

th {
  padding: 16px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

/* Cell Styles */
td {
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

/* Alternate Row Background */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover Effect */
tbody tr:hover {
  background-color: #f5f5f5;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  table {
      font-size: 14px;
  }
  
  th, td {
      padding: 8px;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 24px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(255, 64, 31);
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: gray;
  }
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;  
  width: 100%;
  height: 75px;
  background: linear-gradient(to top, white, transparent);
}

.read-transcript-along {
  position: relative;
  /* font-size: xxx-large; */
  line-height: 1.6 !important;
}

.read-transcript-along::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;  
  width: 100%;
  height: 75px;
  background: linear-gradient(to bottom, tomato, transparent);
}

.read-transcript-along::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: linear-gradient(to top, tomato, transparent);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  background: rgb(255, 135, 114);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: tomato;
  border: 2px solid white;
  border-radius:  100%;
  cursor: pointer;
  transition: scale .2s ease-in;
}

input[type="range"]::-webkit-slider-thumb:hover {
  scale: 1.5;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
